.container{
    width: 70%;
    margin: 0 auto;
}

body{
    background-color: beige;
}

.title{
    font-size: 4rem;
    text-align: center;
}

.caption{
    font-size: $title-font-size;
    text-align: center;
}

.gallery{
    margin: 1em;
    display: grid;
    
    grid-gap: 1rem;

    .gallery-img{
        width: 100%;
        border:0px solid white;
        border-radius: 5px;
        height: 100%;
        object-fit: cover;
    }

    .gallery-item{
        transition: transform .2s;
    }

    .gallery-item:hover{
        transform: scale(1.2);
    }




    @media screen and (max-width: $small) {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(24, 5vw);

        .gallery-item--1{
            grid-column-start: 1;
            grid-column-end: 8;
            grid-row-start: 1;
            grid-row-end: 5;
        }
    
        .gallery-item--2{
            grid-column-start: 1;
            grid-column-end: 8;
            grid-row-start: 5;
            grid-row-end: 9;
        }
    
        .gallery-item--3{
            grid-column-start: 1;
            grid-column-end: 8;
            grid-row-start: 9;
            grid-row-end: 13;
        }
    
        .gallery-item--4{
            grid-column-start: 1;
            grid-column-end: 8;
            grid-row-start: 13;
            grid-row-end: 17;
        }
    
        .gallery-item--5{
            grid-column-start: 1;
            grid-column-end: 8;
            grid-row-start: 17;
            grid-row-end: 21;
        }
    
        .gallery-item--6{
            grid-column-start: 1;
            grid-column-end: 8;
            grid-row-start: 21;
            grid-row-end: 25;
        }
    }

    @media screen and (min-width: $large) {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(7, 5vw);

        .gallery-item--1{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 4;
        }
    
        .gallery-item--2{
            grid-column-start: 3;
            grid-column-end: 6;
            grid-row-start: 1;
            grid-row-end: 4;
        }
    
        .gallery-item--3{
            grid-column-start: 6;
            grid-column-end: 9;
            grid-row-start: 1;
            grid-row-end: 4;
        }
    
        .gallery-item--4{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 8;
        }
    
        .gallery-item--5{
            grid-column-start: 3;
            grid-column-end: 6;
            grid-row-start: 4;
            grid-row-end: 8;
        }
    
        .gallery-item--6{
            grid-column-start: 6;
            grid-column-end: 9;
            grid-row-start: 4;
            grid-row-end: 8;
        }
    }
}

