.navigation{
    ul{
        display: flex;
        list-style: none;
        justify-content: center;
        li{
            margin-right: 2em;
            padding: 1em;
            height: 4em;
            &::before{
                content: "";
                height: 2px;
                background-color:yellow;
                width: auto;
                visibility: hidden;
            }
            &:hover::before{
                visibility: visible;
            }
        }
        
        a{
            text-decoration: none;
        }
    }
}