.navigation{
    height: auto;
    background-color: lightblue;

    ul{
        display: flex;
        list-style: none;
        justify-content: center;
        li{
            margin-right: 2em;
            font-size: 2rem;
            &::before{
                content: "";
                height: 5px;
                background-color:beige;
                width: auto;
                display: block;
                opacity:0;
                margin-bottom: auto;
                transition-property: opacity;
                transition-timing-function: ease-in;
                transition-duration: 200ms;
            }
            &:hover::before{
                opacity: 1;
            }

            &:hover{
                background-color: rgb(110, 205, 240);
            }
        }

        @media screen and (max-width: $large) {
            width: 50%;
            margin: 0 auto;
            flex-direction: column;
            text-align: center;
            
            li{
                font-size: 5rem !important;
                margin-right: 0;
            };
        }
        
        a{
            padding: 0.2rem;
            text-decoration: none;
            color: black;
        }
    }
}