.navigation{
    ul{
        display: flex;
        list-style: none;
        justify-content: center;
        li{
            margin-right: 2em;
            padding: 1em;
            &::before{
                content: "";
                height: 2px;
                width: auto;
                display: none;
            }
            &:hover::before{
                display: block;
            }
        }
        
        a{
            text-decoration: none;
        }
    }
}